body{
  background-color: #faebd7;
}
ul{
  text-align: center;
  text-decoration: none;
}
.tag{
  text-decoration: none;
  color: rgb(251, 246, 246);
  margin-right: 10px;
  transition: ease;
  font-size: 20px;
  
}
.nav-menu{
  background-image: url(images/pexels-vidal-balielo-jr-1682538.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.footer{
  margin-top: 150px;
  width: 100%;
  padding: 100px 15%;
  background: #333;
  color: #efefef;
  display: flex;
  font-family: sans-serif;
}
.footer div{
  text-align: center;

}
.col-2{
  flex-grow:2l
}
.footer div h3{
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing:1px ;
}
.footer-a{
  text-decoration: none;
  color: white;
}
.col-1 a{
  display: block;
  margin-bottom: 10px;
  margin-right: 50px;
}
form input{
  width: 400px;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  outline: none;
  border: none;
}
form button{
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

p {
  font-size: 20px;
  font-family: sans-serif;
  color: #000000;
}

.container {
  padding: 100px 30px;
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
}
.learn{
  padding: 20px;
  color:rgb(255, 251, 251);
  background-color: rgb(0, 0, 0);
  border: none;
  border-radius: 20px;
  align-self: center;
  margin-left: 650px;
}

